{% extends "base.html" %}
{% block head-title %}
{{ instance.title }} | {{ block.super }}
{% endblock head-title %}

{% block content %}
<style>
.content{
   position: relative;
   top:65px;
}
.img-fluid {
    width: 410px;
    height: 450px;
}
.product-item-2 .product-title-wrap {
    position: relative;
    z-index: 2;
}
.product-item-2 .number {
    font-size: 8rem;
    font-weight: 900;
    color: #e9ecef;
    position: absolute;
    line-height: 0;
    top: 40px;
    z-index: -1;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.text-black {
    color: #000 !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.product-item-2 .price del {
    color: #adb5bd;
}
.btn.btn-black.btn-outline-black {
    color: #000;
    background-color: transparent;
}
.btn.btn-black {
    border-width: 2px;
    border-color: #000;
    background: #000;
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.btn:not(:disabled):not(.disabled) {
     cursor: pointer;
}
.btn {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    padding: 6px 20px;
}
.mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;

}
.d-lg-inline-block {
    display: inline-block !important;
}
.p_rating li{
  display: inline-block;
}

</style>
<!--<div class="container">-->
<!--        <div class="col-sm-6">-->
<!--        {% if instance.image %}-->
<!--        <img src="{{ instance.image.url }}" class="rounded float-left" />-->
<!--        {% endif %}-->
<!--        <h1>{{ title }}<small>-->
<!--                {% if instance.draft %}<span style="color: red;">Draft</span> {% endif %}-->
<!--                {{ instance.publish }}</small></h1>-->
<!--        <h4>{{ instance.price }}</h4>-->
<!--        {% if instance.user.get_full_name %}-->
<!--        <p>Author: {{ instance.user.get_full_name }} </p>-->
<!--        {% endif %}-->
<!--        <p><div class="fb-like" data-href="{{ request.build_absolute_url }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>-->
<!--        <hr/>-->
<!--        </p>-->
<!--</div>-->
<!--</div>-->

<div class="container">
        <div class="content">
                <div class="row mb-5 justify-content-center">
                <div class="bg-white py-4 mb-4">
          <div class="row mx-4 my-4 product-item-2 align-items-start">
            <div class="col-md-6 mb-5 mb-md-0">
                    {% if instance.image %}
                        <img src="{{ instance.image.url }}" alt="Image" class="img-fluid">
                    {% endif %}
            </div>

            <div class="col-md-5 ml-auto product-title-wrap">
              <span class="number">01.</span>
              <h3 class="text-black mb-4 font-weight-bold">{{ title }}<small>
                        {% if instance.draft %}<span style="color: red;">Draft</span> {% endif %}
                        {{ instance.publish }}</small></h3>
                            <ul class="p_rating">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                    <div class="mb-4">
<!--                     <h4><small>-->
<!--                        {% if instance.draft %}<span style="color: red;">Draft</span> {% endif %}-->
<!--                        {{ instance.publish }}</small></h4>-->
                    {% if instance.user.get_full_name %}
                        <h6>Author: {{ instance.user.get_full_name }} </h6>
                        {% endif %}
                    </div>
              <p class="mb-4">Et tempora id nostrum saepe amet doloribus deserunt totam officiis cupiditate asperiores quasi accusantium voluptatum dolorem quae sapiente voluptatem ratione odio iure blanditiis earum fuga molestiae alias dicta perferendis inventore!</p>
              <div class="mb-4">
                <h3 class="text-black font-weight-bold h5">Price:</h3>
                <div class="price"><del class="mr-2">${{ instance.discount_price }}</del> ${{ instance.price }}</div>
              </div>
              <p>
                <a href="{% url 'mainapp:cart' instance.slug %}" class="btn btn-secondary rounded-0 d-block d-lg-inline-block" style="background-color:#717fe0;"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Add To Cart</a>
              </p>
            </div>
          </div>
        </div>
        </div>
        </div>
</div>

{% endblock content %}

